[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-extensions = "*"
ipython = "*"
requests = "*"
django-mptt = "*"
"django-bootstrap4" = "*"
djangorestframework = "*"
"psycopg2-binary" = "*"

[dev-packages]
"Fabric3" = "*"
