{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {{ object }}
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a
                    href="{% url "bookmarks:list" %}">{% trans "Bookmarks" %}</a>
            </li>
            {% for parent in object.get_ancestors %}
                <li class="breadcrumb-item"
                    aria-current="page"><a
                        href="{{ parent.get_absolute_url }}">{{ parent }}</a>
                </li>
            {% endfor %}
            <li class="breadcrumb-item active"
                aria-current="page">{{ object }}</li>
        </ol>
    </nav>
    <h1>{{ object }}</h1>

    <ul class="list-group">
        {% for child in object.get_descendants.all %}
            <li class="list-group-item">
                <a href="{{ child.get_absolute_url }}">{{ child }}</a>
            </li>
        {% endfor %}
    </ul>

    <ul class="list-group">
        {% for track in object.tracks.all %}
            <li class="list-group-item">
                {{ track }}
                <small> ({{ track.length_str }})</small>
                <audio controls="controls" preload="none"
                       src="{{ track.audio_url }}"
                       style=""></audio>

            </li>
        {% endfor %}
    </ul>

    <ul class="list-unstyled">
        {% for row in object.rows.all %}
            <li title="{{ row.ordinal }}">
                {{ row.content|safe }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}