{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {{ object }}
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a
                    href="{% url "bookmarks:list" %}">{% trans "Bookmarks" %}</a>
            </li>
            {% for parent in object.get_ancestors %}
                <li class="breadcrumb-item"
                    aria-current="page">{{ parent }}</li>
            {% endfor %}
            <li class="breadcrumb-item active"
                aria-current="page">{{ object }}</li>
        </ol>
    </nav>
    <h1>{{ object }}</h1>
    <ul class="list-unstyled">
        {% for row in object.rows.all %}
            <li>
                {{ row.content|safe }}
                <span class="badge badge-pill badge-info">{{ row.ordinal }}</span>
            </li>
        {% endfor %}
    </ul>

{% endblock %}