{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {{ object }}
{% endblock %}


{% block content %}

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a
                    href="{% url "books:list" %}">{% trans "Books" %}</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">{{ object }}</li>
        </ol>
    </nav>
    {% if perms.books.change_book %}
        <a class="btn btn-success float-right"
           href="{% url "books:update" object.id %}"><span
                class="fa fa-pencil"></span> {% trans "Edit" %}</a>
    {% endif %}
    <h1>{{ object }}</h1>
    {% if object.summary %}
        {{ object.summary|linebreaks }}
    {% endif %}
    <div class="row">
        <div class="col-sm-2">
            <ul class="list-group">
                {% for a in object.annotations %}
                    <li class="list-group-item">
                        <span class="fa {{ a.track|yesno:'fa-music,fa-search' }}"></span>
                        <a href="{{ a.page.get_absolute_url }}">{% trans "Page" %} {{ a.page.ordinal }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div class="col-sm-10">
            <div class="row">

                {% for p in object.pages.all %}
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">

                        <div class="card">

                            <a href="{{ p.get_absolute_url }}"><img
                                    class="card-img-top"
                                    src="{{ p.thumb_url }}"
                                    title="{{ p.ordinal }}"
                                    height="{{ p.THUMB_HEIGHT }}"
                                    width="{{ p.thumb_width }}"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}