{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a
                    href="{% url "books:list" %}">{% trans "Books" %}</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">{{ object }}</li>
        </ol>
    </nav>
    <h1>{{ object }}</h1>
    <div class="row">

        {% for p in object.pages.all %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">

                <div class="card">

                    <a href="{{ p.get_absolute_url }}"><img
                            class="card-img-top"
                            src="{{ p.thumb_url }}"
                            title="{{ p.ordinal }}"
                            height="{{ p.THUMB_HEIGHT }}"
                            width="{{ p.thumb_width }}"></a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}