{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% trans "Books" %}
{% endblock %}

{{ object }}
{% block content %}

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a
                    href="{% url "books:list" %}">{% trans "Books" %}</a></li>
        </ol>
    </nav>


    {% if perms.books.add_book %}
        <a class="btn btn-success float-right"
           href="{% url "books:import" %}"><span
                class="fa fa-download"></span> {% trans "Import new book" %}
        </a>
    {% endif %}

    <h1>{% trans "Books" %}</h1>

    <ul class="list-group">
        {% for object in object_list %}
            <li class="list-group-item">
                {% if object.cover_image %}
                    <img src="{{ object.cover_image.url }}" class="pull-left" height="80">
                {% endif %}
                <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                {% if object.short_summary %}
                    | <i>{{ object.short_summary }}</i>
                {% endif %}
                ({{ object.num_pages }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}