{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% trans "Edit" %} {{ object }}
{% endblock %}


{% block content %}

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a
                    href="{% url "books:list" %}">{% trans "Books" %}</a></li>
            <li class="breadcrumb-item"
                aria-current="page">{{ object }}</li>
            <li class="breadcrumb-item active"
                aria-current="page">{% trans "Edit" %}</li>
        </ol>
    </nav>
    <h1>{% trans "Edit" %} {{ object }}</h1>
    <form method="post">
        {% csrf_token %}
        <ul>
            {{ form.as_ul }}
        </ul>
        <button class="btn btn-success">{% trans "Save" %}</button>
    </form>

{% endblock %}