{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% trans "Books" %}
{% endblock %}

{{ object }}
{% block content %}

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a
                    href="{% url "books:list" %}">{% trans "Books" %}</a></li>
        </ol>
    </nav>

    <h1>{% trans "Books" %}</h1>

    <ul class="list-group">
        {% for object in object_list %}
            <li class="list-group-item">
                <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                ({{ object.num_pages }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}