{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a
                    href="{% url "books:list" %}">{% trans "Books" %}</a></li>
            <li class="breadcrumb-item"><a
                    href="{{ object.book.get_absolute_url }}">{{ object.book }}</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">{% trans "Page" %} {{ object.ordinal }}</li>
        </ol>
    </nav>
    <nav class="float-right">
        <ul class="pagination">
            {% if not object.is_first %}
                <li class="page-item">
                    <a class="page-link" href="{{ object.prev_page_url }}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% if not object.is_last %}
                <li class="page-item">
                    <a class="page-link" href="{{ object.next_page_url }}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <h1>{{ object.book }}: {% trans "Page" %} {{ object.ordinal }}</h1>
    <div class="row">
        <div class="col-md-6">
            <img class="img-thumbnail" src="{{ object.preview_url }}"
                 title="{{ object.ordinal }}">
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                {% for bm in object.bookmarks.all %}
                    <li class="list-group-item">
                        {{ bm.title }}
                        {{ bm.content_html }}
                    </li>
                {% endfor %}
                <li class="list-group-item">
                    <form method="post">
                        {% csrf_token %}
                        {{ view.form }}
                        <button class="btn btn-success btn-sm">Add</button>
                    </form>
                </li>
            </ul>

        </div>
    </div>


{% endblock %}