{% extends "base.html" %}
{% load i18n staticfiles %}

{% block page_title %}
    {{ object.book }}: {% trans "Page" %} {{ object.ordinal }}
{% endblock %}


{% block content %}
    <dialog style="display: none" id="main-dialog"></dialog>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a
                    href="{% url "books:list" %}">{% trans "Books" %}</a></li>
            <li class="breadcrumb-item"><a
                    href="{{ object.book.get_absolute_url }}">{{ object.book }}</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">{% trans "Page" %} {{ object.ordinal }}</li>
        </ol>
    </nav>
    <nav class="float-right">
        <ul class="pagination">
            {% if not object.is_first %}
                <li class="page-item">
                    <a class="page-link" href="{{ object.prev_page_url }}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% if not object.is_last %}
                <li class="page-item">
                    <a class="page-link" href="{{ object.next_page_url }}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>


    <h1>
        {{ object.book }}: {% trans "Page" %} {{ object.ordinal }}
    </h1>

    <div class="row">
        <div class="col-md-6">
            {% if perms.books.add_annotation %}
                <p>
                    <button class="btn btn-success btn-sm add-an"><i
                            class="fa fa-plus"></i> {% trans "Add Annotation" %}
                    </button>
                </p>
            {% endif %}

            <div class="page-img{% if perms.books.change_annotation %} edit{% endif %}">
                <img class="img-thumbnail" src="{{ object.preview_url }}">
                {% for an in object.annotations.all %}
                    <div class="an"
                         data-url="{% url "books:update_ann_pos" an.id %}"
                         style="left:{{ an.x }}%; top:{{ an.y }}%;">
                        <span class="fa {{ an.track|yesno:'fa-music,fa-search' }} fa-2x"></span>
                        <div class="c" hidden>
                            {% if perms.books.delete_annotation %}
                                <form action="{% url "books:delete_ann" an.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-sm btn-danger float-right delete"><span
                                            class="fa fa-trash"></span>
                                    </button>
                                </form>
                            {% endif %}
                            <span class="float-right">&nbsp;</span>
                            {% if perms.books.change_annotation %}
                                <a href="{% url "books:update_ann" an.id %}"
                                   class="edit-ann btn btn-sm btn-light float-right"><span
                                        class="fa fa-pencil"></span></a>
                            {% endif %}
                            {{ an.content|linebreaks }}
                            {% if an.track %}
                                <p>
                                    {{ an.track }}
                                    <small> ({{ an.track.length_str }})</small>
                                    <audio controls="controls" preload="none"
                                           src="{{ an.track.audio_url }}"
                                           style=""></audio>
                                </p>
                            {% endif %}

                            <a href="#"
                               class="btn btn-primary close-dialog">{% trans "Close" %}</a>
                        </div>

                    </div>

                {% endfor %}


                <div class="marker"
                     data-url="{% url "books:create_ann" object.book.id object.ordinal %}"></div>

            </div>

            <p></p>

            <ul class="list-group">
                {% for track in object.get_tracks %}
                    <li class="list-group-item">
                        {{ track }}
                        <small> ({{ track.length_str }})</small>
                        <audio controls="controls" preload="none"
                               src="{{ track.audio_url }}"
                               style=""></audio>

                    </li>
                {% endfor %}
            </ul>

        </div>

        <div class="col-md-6">
            {% if perms.books.change_book %}
                <form method="post" class="save-page">
                    <ul class="list-group">
                        {% if view.errors %}
                            <li class="list-group-item">
                                {{ view.errors }}
                            </li>

                        {% endif %}
                        <li class="list-group-item">
                            {% csrf_token %}
                            <button class="btn btn-primary btn-sm">{% trans "Save" %}</button>
                            <button name="continue" value="next"
                                    class="btn btn-primary btn-sm">{% trans "Save" %}
                                &raquo;
                            </button>
                        </li>
                        {% for row in rows %}
                            <li class="list-group-item"
                                data-id="{{ row.ordinal }}"
                                title="{{ row.ordinal }}">
                                <input type="radio" required name="start"
                                       class="radio-start"
                                       value="{{ row.ordinal }}"
                                       title="{% trans "Start" %}"
                                        {% if row.ordinal == start_row.ordinal %}
                                       checked="1" {% endif %}
                                >
                                <input type="radio" required name="end"
                                       class="radio-end"
                                       value="{{ row.ordinal }}"
                                       title="{% trans "End" %}"
                                        {% if row.ordinal == end_row.ordinal %}
                                       checked="1" {% endif %}
                                >
                                {{ row.content|safe }}
                            </li>
                        {% endfor %}

                    </ul>
                </form>
            {% else %}
                {% for row in object.rows.all %}
                    <li class="list-group-item">
                        {{ row.content|safe }}
                    </li>
                {% endfor %}
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "csrf.js" %}"></script>
    <script src="{% static "js/page_detail.js" %}"></script>
{% endblock %}